.markdown {
  /* box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  font-size: 18px !important; */
}

.markdown * {
  /* list-style: unset; */
}

.markdown::-webkit-scrollbar {
  width: 1em;
  /* background: blue; */
}

.markdown::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0);
  height: 1rem;
}

.markdown:hover::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.438);
}

.markdown:hover::-webkit-scrollbar-thumb:active {
  background: rgba(90, 90, 90, 0.712);
}

.markdown ol,
.markdown ul {
  margin-left: 1rem;
  padding-left: 1rem;
}

.markdown > h1,
.markdown > h2,
.markdown > h3,
.markdown > h4,
.markdown > h5,
.markdown > h6 {
  margin-top: 0.5em !important;
  margin-bottom: 0.05em !important;
}

.markdown > *:first-child {
  margin-top: 0 !important;
}

.markdown pre {
  padding: 0 !important;
  border: 1px solid rgba(255, 255, 255, 0) !important;
}

.markdown code {
  margin: 0 !important;
  padding: 0.5em !important;
  font-weight: normal !important;
}
