.markdown {
  /* box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  font-size: 18px !important; */
}

.markdown * {
  /* list-style: unset; */
}

.markdown ol,
.markdown ul {
  margin-left: 1rem;
  padding-left: 1rem;
}

.markdown > h1,
.markdown > h2,
.markdown > h3,
.markdown > h4,
.markdown > h5,
.markdown > h6 {
  margin-top: 0.5em !important;
  margin-bottom: 0rem !important;
}

.markdown> *:first-child {
  margin-top: 0 !important;
}
